.gradient-background-1 {
    background: linear-gradient(300deg, #000000, #4f4f4f, #a0a0a0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.gradient-background-2 {
    background: linear-gradient(180deg, #D3D3D3, #E6E6E6, #F5F5F5, #FFFFFF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.gradient-background-3 {
    background: linear-gradient(180deg, #B79D84, #D9C8A9, #EDE0C8, #FAF3E0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#projects {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('./assets/background.jpeg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 50px 0;
}


h1 {
    color: #d9c8a9;
}

p {
    color: #d9c8a9;
}

.col-6 > p {
    color: #A9977D;
    width: 90%;
    min-width: 350px;
}

.display-2 {
    color: #A9977D;
}

.extra-padding {
    padding: 6rem;
}

.rounded {
    height: 200px;
    width: 200px;
}

ul {
    max-width: 450px;
    min-width: 350px;
}

.dark-color {
    color: black;
    font-style: italic;
}

.card-img-top {
    width: 100%; /* Ensures it fills the card width */
    height: 100%; /* Keeps a balanced height */
    object-fit: cover; /* Prevents distortion, crops excess */
}

@media (max-width: 800px) {
    .card {
        width: 75%;
        height: auto;
    }
}