.gradient-background {
    background: linear-gradient(300deg, #000000, #4f4f4f, #a0a0a0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-background-2 {
    background: linear-gradient(180deg, #D3D3D3, #E6E6E6, #F5F5F5, #FFFFFF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

h1 {
    color: #d9c8a9;
}

p {
    color: #d9c8a9;
}

.col-6 > p {
    color: #A9977D;
    width: 1110px;
}

.display-2 {
    color: #A9977D;
}

.extra-padding {
    padding: 6rem;
}

.rounded {
    height: 200px;
    width: 200px;
}

ul {
    width: 450px;
}

.dark-color {
    color: black;
    font-style: italic;
}